/* This is an example of using Sass, otherwise plain CSS works too*/
$box-gradient: linear-gradient(to bottom right, #B3ACAC 0%, #CCFFFF 91%);
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

@mixin card-style() {
  display: flex;
  flex-direction: column;
  background: $box-gradient;
  height: 550px;
  width: 550px;
  justify-content: space-evenly;
  padding: 25px;
}

body {
  background: $primary-background;
  display: flex;
  justify-content: center;
}

.login-window {
@include card-style();
}

.costs-page {
  @include card-style();
}

.request-input {
  height:35px;
  font-size: 15px;
}

.submit-btn {
  height: 30px;
  margin-top: 60px;
  font-size: 20px;
}

.submit-trip {
  height: 30px;
  font-size: 15px;
}

.traveler-request-form {
  @include card-style();
  justify-content: start;
}

.text-holder {
  display: flex;
  flex-direction: column;
}

.country-choice {
  height: 30px;
  font-size: 15px;
}

.login-text {
  display: inline-block;
  align-self: center;
}

.login-username,
.login-password,
.login-btn,
.traveler-finance-btn {
  font-size: 30px;
  height: 35px;
}

.trips-card {
display: flex;
flex-direction: column;
background: $box-gradient;
height: 750px;
width: 550px;
justify-content: space-evenly;
padding: 25px;
}

.agency-dash {
@include card-style();
}

.hide {
  display: none;
}
//  VACATION DISPLAYS
.past-trips, .present-trips, .future-trips, .pending-trips {
  display: flex;
  overflow: scroll;
}

.location-img {
  height: 150px;
  width: auto;
}

.request-trip-btn {
  height: 40px;
  font-size: 30px;
  background: linear-gradient(to bottom right, #33ccff 0%, #ffffff 99%);;;
}

.vacation-box {
  height: 200px;
}

.cost-text {
  display: inline-block;
  margin-top: 0px;
}

.agent-card {
display:flex;
overflow: scroll;
}

.pending-box {
  margin:10px;
  border-bottom:2px solid black;
}

.travelers-on-trips {
  display:flex;
  overflow: scroll;
  height: 50px;
}

